/*
 * Custom style profile 
 * Powered By Flow Factory
 * Custom CSS
 */

 .theme-entry.ff {
    font-family: 'Poppins', sans-serif;
    background-position: right top !important;
}

/* Hide Tabs */
.theme-entry.ff  .tab-box ul.tab-box-tabs{
	display: none;
}

/*
* Notification counter
*/
.notification-counter {   
    position: fixed;
    top: 200px;
    left: 120px;
    background-color: rgba(212, 19, 13, 1);
    color: #fff !important;
    border-radius: 3px;
    padding: 1px 3px;
    font: 10px Verdana;
}


.ff-menuactive {
    border-bottom: 3px #063a4f solid !important;
}

.ff-menubutton {
    background: transparent !important;
    color: black !important;
    border: none;
}