/*
 * Custom style profile 
 * Powered By Flow Factory
 * Custom CSS
 */

 /* Variables */
.theme-entry.ff{
	--view-rounding: 5px;
	--button-rounding: 5px;
	--main-text-size: 1.4rem;	
}


/*
 * Menu styling
 */

.ff-menuactive {
    border-bottom: 3px #063a4f solid !important;
}

.ff-menubutton {
    background: transparent !important;
    color: black !important;
    border: none;
    font-family: 'RenaultGroup-Bold', sans-serif !important;
    font-size: 18px !important;
}


/*
    View headers
*/
/* Views Header - Gradient Color */
.theme-entry.ff .view .panel-header-wrapper
,.theme-entry.ff .view-canvas .panel-header-wrapper
,.theme-entry.ff .view .grid-header-wrapper
,.theme-entry.ff .view-canvas .grid-header-wrapper
,.theme-entry.ff .nav.searchAreaHidden{
    background: linear-gradient(90deg,#01426A,#f3f3f3);
    color:#ffffff;
}

/* Views Border */
.theme-entry.ff .view>.innerpanel
,.theme-entry.ff .view-canvas>.innerpanel{
	border-radius: var(--view-rounding);
	border: 1px solid lightgrey;	
}


/*****
 * Animated subview
 */
.popup.sub-form.animatedintro, .popup.sub-form.animatedexit { 
    transform: translateX(100%); 
    opacity: 0.0; 
} 
        
.popup.sub-form { 
    transform: translateX(0%); 
    transition: transform 1s ease-out, opacity 1s linear; 
} 

.popup.sub-form.popup.sub-form.animatedexit { 
    transition: transform 1s ease-in, opacity 1s linear; 
}


.popup.sub-view.animatedintro, .popup.sub-view.animatedexit { 
    transform: translateX(100%); 
    opacity: 0.0; 
} 
        
.popup.sub-view { 
    transform: translateX(0%); 
    transition: transform 1s ease-out, opacity 1s linear; 
} 

.popup.sub-view.popup.sub-view.animatedexit { 
    transition: transform 1s ease-in, opacity 1s linear; 
}